<h1>CALCULATOR</h1>
<br />
<br />
<form action="Index" method="post">
Enter first number     &nbsp;&nbsp; : <input type="text" name="firstNum" /><br /><br />
Enter second number     : <input type="text" name="secondNum" />
<br /><br />
 
<input type="submit" name="Cal" value="Add"  />  
<input type="submit" name="Cal" value="Sub" /> 
 <input type="submit" name="Cal" value="Mul"  />   
<input type="submit" name="Cal" value="Div" />  
          
       
 Result :<input type="text" class="form-control" value="@ViewBag.Result" />  
    

</form>